<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PoseExercise"
        tools:remove="android:appComponentFactory"
        tools:targetApi="31">

        <activity
            android:name=".ForgotPassword"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="formfix-221ea.firebaseapp.com"
                    android:pathPrefix="/__/auth/action"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="formfix"
                    android:host="passwordreset" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.activity.OnboardingActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".views.activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".views.activity.WorkoutActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.activity.PlannerActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.activity.JournalActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ProfStatistics"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Timer"
            android:exported="false" />
        <activity
            android:name=".PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".BmiCalculator"
            android:exported="false" />
        <activity
            android:name=".WeeklyPlannerView"
            android:exported="false" />
        <activity
            android:name=".WeeklyPlannerInsert"
            android:exported="false" />
        <activity
            android:name=".WeeklyPlannerAdd"
            android:exported="false" />
        <activity
            android:name=".WeeklyPlannerDisplay"
            android:exported="false" />
        <receiver android:name=".InactiveReceiver" />
        <receiver
            android:name=".BootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".WorkoutReminderReceiver" android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
<!--        <activity-->
<!--            android:name=".views.activity.SplashActivity"-->
<!--            android:exported="true"-->
<!--            android:screenOrientation="portrait">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>